#ignore thumbnails created by windows
Thumbs.db
#Visual Studioによって作られるファイルを無視
ipch
*.sdf
*.suo
*.opensdf
*.VC.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal

*.vcxproj.user

10SRR_RTA_AssistTool/10SRR_RTA_AssistTool/bin/Debug
10SRR_RTA_AssistTool/10SRR_RTA_AssistTool/bin/Release
10SRR_RTA_AssistTool/10SRR_RTA_AssistTool/obj/Debug
10SRR_RTA_AssistTool/10SRR_RTA_AssistTool/obj/Release

Preferences.ini
PropertyCache.ini
